# Ignore everything
*

# Whitelist patterns anchored to project root
!/.golangci.yml

# Whitelist patterns found anywhere in project
!*.go
!.gitignore
!go.mod
!go.sum
!LICENSE
!Makefile
!README.md

!*/
